@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rajdhani&family=Syncopate:wght@700&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 217, 93);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    margin-top: 50px;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 3%;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: rgb(158, 127, 24);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

a:hover{
    color: rgb(254, 226, 135);
}

button {
    margin-top: 15%;
    width: 130px;
    height: 40px;
    color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 10px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 217, 93);
    background: linear-gradient(0deg, rgb(255, 217, 93) 0%, rgb(255, 217, 93) 100%);
}

button:hover {
    color: rgb(255, 217, 93);
    background: black;
    box-shadow: none;
}

button:active {
    background-color: black;
    color: rgb(255, 217, 93);
    transform: scale(0.95);
}

button:focus {
    background-color: black;
    color: rgb(255, 217, 93);
    outline: none;
}

.feedback{
    color: rgb(255, 217, 93);
}

button:hover {
    color: rgb(255, 217, 93);
    background: transparent;
    box-shadow: none;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(255, 217, 93);
    box-shadow:
        -1px -1px 5px 0px black,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


form {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: rgb(46, 46, 45);
    color: rgb(252, 236, 182);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 60%;
}

.container {
    background-color: black;
    border-color: rgb(255, 217, 93);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 100%;
    z-index: 2;
}

img {
    height: 50px;
    width: 50px;
}

h2 {
    font-family: 'Syncopate', sans-serif;
}

@media screen and (max-width:500px) {
    input{
        width: 100%;
    }
}
