@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Rajdhani&family=Ubuntu&display=swap');

body {
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.time{
    color:rgb(255, 217, 93);
    text-align: center;
    font-size: 3rem;
}

.duration{
    height: 0px;
    visibility: hidden;
}

.difficulty{
    height: 0px;
    visibility: hidden;
}

.right{
    font-size: 9rem;
    color:rgb(0, 255, 0);
}

.wrong{
    font-size: 9rem;
    color:rgb(255, 0, 0);
}

#question-container{
    transform: translate(0, -35%);
    margin-top:0;
    margin-bottom:1%;
}

.question{
    font-size: 6.5rem;
    color: rgb(255, 217, 93);
    font-weight: bold;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

input{
    background-color: rgb(46, 46, 45);
    padding: 8px;
    font-size: 1.5rem;
    color: rgb(252, 236, 182);
    margin-bottom: 0%;
    border-radius: 10px;
    border-color: rgb(46, 46, 45);
    transform: translate(0, -400%);
}

input:focus{
    background-color: rgb(46, 46, 45);
    padding: 8px;
    font-size: 1.5rem;
    color: rgb(252, 236, 182);
    margin-bottom: 0%;
    border-radius: 10px;
    border-color: rgb(255, 217, 93);
}

.evaluation{
    margin: 0 0;
    transform: translate(0%, -60%);
}

.keypad {
    width: 100%;
    transform: translate(0%, -40%);
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-row{
    width: 66%;
    display: flex;
    flex-direction: row;
}

.key {
    border-style: none;
    width: 100%;
    border-radius: 20%;
    font-size: 3rem;
    margin: 5% 5%;
    color: rgb(255, 217, 93);
    background-color: rgb(46, 46, 45);;
}

.cross{
    width: 37%;
    font-size: 1rem;
    font-weight: bolder;
}

@media screen and (max-width: 1200px) {
    .evaluation{
        z-index: 10;
        margin: 0 0;
        transform: translate(0%, -260%);
    }    
    .question{
        font-size: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .keypad{
        display: none;
    }    
}

