<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crunch: Math Trainer</title>
    <link rel="stylesheet" href="../css/styleIndex.css">
    <style>
        button {
            margin-top: 10%;
        }
    </style>
</head>

<body>
    <img src="../logo.png" alt="">
    <h2>Crunch</h2>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form class="passForm" >
                <h1>Reset Password</h1>
                <input type="email" name="email" placeholder="Email" />
                <button>Send OTP</button>
            </form>
        </div>
    </div>

    <footer
        style="text-align: center; position: fixed; bottom: 0; width:100%; color:rgb(255, 217, 93); align-items: center;">
        By EmKay 2023
    </footer>
    <script src="../js/forgotPassword.js"></script>
</body>

</html>