<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crunch: Math Trainer</title>
    <link rel="stylesheet" href="../css/styleIndex.css">
</head>

<body>
    <img src="../logo.png" alt="">
    <h2>Crunch</h2>
    <div class="container" id="container">        
        <div class="form-container sign-in-container">
            <form action="#" class="sign-in-form">
                <h1>Sign in</h1>
                <span>Use your existing account</span>
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button>Sign In</button>
                <a href="/signup">New to Crunch? Sign Up</a>
            </form>
        </div>
    </div>

    <div class="feedback"></div>

    <footer
        style="text-align: center; position: fixed; bottom: 0; width:100%; color:rgb(255, 217, 93); align-items: center;">
        By EmKay 2023
    </footer>

    <script src="../js/index.js"></script>
</body>

</html>