<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" href="../css/stylePlay.css">
</head>

<body>
    <h2 class="timer"></h2>    
    <div class="container">
        <h1>Caluclation Training</h1>
        <p class="duration">
            <%= duration %>
        </p>
        <p class="difficulty">
            <%= difficulty %>
        </p>
        <div id="question-container">            
            <!-- Question will be added dynamically here -->
        </div>
        <form id="answer-form">
            <input type="text" id="answer-input" placeholder="Enter your answer">
        </form>
    </div>
    <div class="evaluation"></div>
    <script src="play.js"></script>
</body>

</html>