<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crunch: Math Trainer</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/stylePlay.css">
</head>

<body>
    <h1><%=username%></h1>
    <div class="timer"></div>
    <div class="container">
        <p class="duration">
            <%= duration %>
        </p>
        <p class="difficulty">
            <%= difficulty %>
        </p>
        <div id="question-container"></div>
        <form id="answer-form">
            <input type="text" id="answer-input" placeholder="Answer" readonly>
        </form>
        <div class="keypad">
            <div class="key-row">
                <button class="key" onclick="addToAnswer('1')">1</button>
                <button class="key" onclick="addToAnswer('2')">2</button>
                <button class="key" onclick="addToAnswer('3')">3</button>
            </div>
            <div class="key-row">
                <button class="key" onclick="addToAnswer('4')">4</button>
                <button class="key" onclick="addToAnswer('5')">5</button>
                <button class="key" onclick="addToAnswer('6')">6</button>
            </div>
            <div class="key-row">
                <button class="key" onclick="addToAnswer('7')">7</button>
                <button class="key" onclick="addToAnswer('8')">8</button>
                <button class="key" onclick="addToAnswer('9')">9</button>
            </div>
            <div class="key-row">
                <button class="key zero" onclick="addToAnswer('0')">0</button>
                <button class="key cross" onclick="addToAnswer('x')">&#9587;</button>

            </div>
        </div>
        <div class="evaluation"></div>
    </div>


    <footer style="text-align: center; position: fixed; bottom: 0; width:100%; color:rgb(255, 217, 93);">
        By EmKay 2023
    </footer>
    <script src="../js/play.js"></script>
</body>

</html>