<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/stylePlay.css">
</head>

<body>
    <div class="timer"></div>
    <div class="container">
        <p class="duration">
            <%= duration %>
        </p>
        <p class="difficulty">
            <%= difficulty %>
        </p>
        <div id="question-container"></div>
        <form id="answer-form">
            <input type="text" id="answer-input" placeholder="Enter your answer">
        </form>
    </div>
    <div class="evaluation"></div>
    <script src="play.js"></script>
</body>

</html>