<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
</head>
<body>
    <div class="container">
        <h2 class="scoreHeading">Your Score</h2>
        <h1 class="score"> <%=score%> </h1>
    </div>
    <a href="/">Play Again</a>
</body>
</html>